<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ManageStock</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>


<body style="font-family:th sarabunPSK;color:#2F4F4F;font-size: 24px">
  <app-navbar></app-navbar>

  <div class="sticky">
    <div class="ui-g">
      <div class="ui-g-12" style="text-align: center; font-size:32px;">
          <label for="float-input">แจ้งเตือนสินค้าหมดอายุ</label>
      </div>
    </div>
  </div>


  <div class="footer" style="color: black">
    <table>
      <tr>

      </tr>
    </table>
  </div>
</body>

</html>