<app-navbar>
</app-navbar>
<form [formGroup]="notificationForm">
  <div class="sticky">
    <div class="ui-g">
      <div class="ui-g-12" style="text-align: center; font-size:32px;">
        <label for="float-input">แจ้งเตือนสินค้าหมดอายุ</label>
      </div>
    </div>
  </div>

  <p-toolbar>
    <!--<div class="ui-toolbar-group-left">
          <button pButton type="button" label="New" href="addmember" icon="pi pi-plus"></button>
      </div>-->
    <div class="ui-toolbar-group-right">
      <p-autoComplete formControlName="keyword" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>
      <button pButton type="button" icon="pi pi-search"></button>
    </div>
  </p-toolbar>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th style="text-align: center;" width="10px">ลำดับ</th>
        <th style="text-align: center;" width="20%">หมายเลขล็อต</th>
        <th style="text-align: center;">ชื่อสินค้า</th>
        <th style="text-align: center;">วันหมดอายุ</th>
        <th style="text-align: center;">จำนวนสินค้าคงเหลืออยู่</th>
        <!-- <th style="text-align: center;" width="20%">ทะเบียนรถ</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of notifications; let i = index">
        <td class="text-right">{{i+1}}</td>
        <td class="text-center">{{item.lot_id}}</td>
        <td class="text-left">{{item.product_name}}</td>
        <td class="text-center">{{item.exp_date | displayDateThaiFormatDDMMYYYY}}</td>
        <td class="text-center">{{item.product_quantity}}</td>
      </tr>
    </tbody>
  </table>
</form>