@font-face {
    font-family: 'th sarabunPSK';
    src: url('THSarabunNew.woff2') format('woff2'),
        url('THSarabunNew.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'th sarabunPSK';
    src: url('THSarabunNew-Bold.woff2') format('woff2'),
        url('THSarabunNew-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'th sarabunPSK';
    src: url('THSarabunNew-BoldItalic.woff2') format('woff2'),
        url('THSarabunNew-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'th sarabunPSK';
    src: url('THSarabunNew-Italic.woff2') format('woff2'),
        url('THSarabunNew-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

