<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- banner display -->
    <div style="width:100%;height:100%; text-align: center ;border:2px yellow;">
      <div class="ui-g">
        <div class="ui-g-12">
          <a href="#" title="HOME" alt="banner">
            <img [src]="imgPath" alt="cover" class="responsive" style="width:100%;height: 100px;">
          </a>
        </div>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" *ngIf="authenFlag">
      <ul class="nav navbar-nav">

        <li>
          <a href="stat" style="font-size:22px;" data-disabled="true"><b><i class="fa fa-fw fa-signal"></i>สถิติการขายข้าว</b></a>
        </li>

        <!-- <li class="dropdown" dropdown>
          <a dropdownToggle class="dropdown-toggle" style="font-size:22px;"><b><i class="fa fa-fw fa-bar-chart"></i>สถิติ</b>
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" href="stat" style="font-size:22px;">ยอดขายประจำเดือน</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="stat" style="font-size:22px;">ยอดคงเหลือสินค้าในคลัง</a>
            </li>
          </ul>
        </li> -->

        <li>
          <a href="cashier" style="font-size:22px;"><b><i class="fa fa-fw fa-shopping-cart"></i>ขายสินค้า</b></a>
        </li>

        <li>
          <a href="addProductComing" style="font-size:22px;"><b><i class="fa fa-fw fa-truck"></i>เพิ่มข้อมูลในระบบ</b></a>
        </li>

        <li>
          <a href="product" style="font-size:22px;"><b><i class="fa fa-fw fa-database"></i>จัดการข้อมูลสินค้า</b></a>
        </li>

        <li>
          <a href="riceVarieties" style="font-size:22px;"><b><i class="fa fa-fw fa-database"></i>จัดการข้อมูลสายพันธุ์ข้าว</b></a>
        </li>

        <li>
          <a href="member" style="font-size:22px;"><b><i class="fa fa-fw fa-database"></i>จัดการข้อมูลสมาชิก</b></a>
        </li>

        <li>
          <a href="notification" style="font-size:22px;"><b><i class="fa fa-fw fa-bullhorn"></i>แจ้งเตือน</b></a>
        </li>

        <li>
          <a href="permission" style="font-size:22px;"><b><i class="fa fa-fw fa-bullhorn"></i>จักการสิทธิ์การใช้งาน</b></a>
        </li>

        <!-- <li class="dropdown" dropdown>
          <a href="#" dropdownToggle class="dropdown-toggle" style="font-size:32px;">สินค้า
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" style="font-size:32px;" href="addProductComing">เพิ่มข้อมูลในระบบ</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" style="font-size:32px;" href="addproduct">เพิ่มสินค้า</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" style="font-size:32px;" href="addrice">เพิ่มสายพันธุ์ข้าว</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" style="font-size:32px;" href="riceVarieties">สายพันธุ์ข้าว</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" style="font-size:32px;" href="searchproduct">ค้นหาสินค้า</a>
            </li>
          </ul>
        </li> -->

        <!-- <li>
          <a href="cashier" style="font-size:32px;">ขายสินค้า</a>
        </li> -->

        <!-- <li class="dropdown" dropdown>
          <a href="#" dropdownToggle class="dropdown-toggle" style="font-size:32px;">สมาชิก
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" href="addmember" style="font-size:32px;">เพิ่มสมาชิก</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="member" style="font-size:32px;">ค้นหาสมาชิก</a>
            </li>
          </ul>
        </li> -->

        <!-- <li>
          <a href="notification" style="font-size:32px;">แจ้งเตือน</a>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" style="font-size:22px;"><b>เข้าสู่ระบบโดย : </b>{{currentUser}}</a>
        </li>
        <button pButton label="ออกจากระบบ" icon="fa fa-sign-out" (click)="logout()"></button>
      </ul>
    </div>
  </div>
</nav>
