<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ManageStock</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>


<body style="font-family:th sarabunPSK;color:#2F4F4F;font-size: 24px">

  <app-navbar></app-navbar>
  <div class="sticky" style="text-align: center;">
      <h2>ค้นหาข้อมูลสินค้า</h2>
      <table width="100%" style="font-size:24px;" >
        <tr>
          <td>
            <input type="text" pInputText style="width: 500px" placeholder="รหัสสมาชิก , ชื่อ , เบอร์โทรศัพท์" />
            <button pButton type="button" label="search"></button><br>
          </td>
        </tr>
      </table>
    </div>


  <div class="main">
    
  </div>

  <div class="footer" style="color: black">
    <table>
      <tr>

      </tr>
    </table>
  </div>
</body>

</html>