<app-navbar>
</app-navbar>

<form [formGroup]="memberForm">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table #dt [value]="members" selectionMode="single" [(selection)]="selectedMember" (onRowSelect)="onRowSelect($event)"
        selectionMode="single" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
          <div class="ui-g">
            <div class="ui-g-4" style="text-align: left">
              <button pButton type="button" icon="fa fa-plus" (click)="showDialogToAdd()"></button>
            </div>
            <div class="ui-g-4" style="text-align: center">
              ตารางข้อมูลสมาชิก
            </div>
            <div class="ui-g-4" style="text-align: right">
              <input type="text" formControlName="keyword" pInputText placeholder="รหัสสมาชิก ชื่อ เบอร์โทรศัพท์">
              <button pButton type="button" icon="fa fa-search" (click)="search()"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center;" width="5%">ลำดับ</th>
            <th style="text-align: center;" width="10%">รหัสสมาชิก</th>
            <th style="text-align: center;" width="20%">ชื่อ - นามสกุล</th>
            <th style="text-align: center;" width="10%">เบอร์โทรศัพท์</th>
            <th style="text-align: center;">ที่อยู่</th>
            <th style="text-align: center;" width="10%">ทะเบียนรถ</th>
            <th style="text-align: center;" width="5%">ลบ</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
          <tr [pSelectableRow]="item">
            <td class="text-right">{{i+1}}</td>
            <td class="text-center">{{item.member_id}}</td>
            <td class="text-left">{{item.member_name}}</td>
            <td class="text-left">{{item.telephone}}</td>
            <td class="text-left">{{item.address}}</td>
            <td class="text-left">{{item.member_license_place}}</td>
            <td class="text-center">
              <button pButton type="button" class="ui-button-danger" icon="fa fa-minus" (click)="delete(item)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</form>

<p-dialog header="เพิ่ม/แก้ไข ข้อมูลสมาชิก" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [width]="800">
  <div class="ui-g ui-fluid" *ngIf="member">
    <form [formGroup]="saveMemberForm">
      <div class="ui-g">
        <div class="ui-g-12">
          <label for="float-input">รหัส</label> &nbsp;
          <input id="float-input" type="text" formControlName="memberId" size="30" style="width: 150px" pInputText>
        </div>
        <div class="ui-g-6">
          <label for="float-input">ชื่อ</label> &nbsp;
          <input id="float-input" type="text" formControlName="memberFname" size="30" style="width: 89%" pInputText>
        </div>
        <div class="ui-g-6">
          <label for="float-input">นามสกุล</label> &nbsp;
          <input id="float-input" type="text" formControlName="memberLname" size="30" style="width: 79%" pInputText>
        </div>
        <div class="ui-g-12">
          <label for="float-input">ที่อยู่</label> &nbsp;
          <textarea id="float-input" formControlName="address" rows="2" cols="90" pInputTextarea></textarea>
        </div>
        <div class="ui-g-6">
          <label for="float-input">เบอร์โทรศัพท์</label> &nbsp;
          <input id="float-input" type="text" formControlName="telephone" size="30" style="width: 69%" pInputText>
        </div>
        <div class="ui-g-6">
          <label for="float-input">ทะเบียนรถ</label> &nbsp;
          <input id="float-input" type="text" formControlName="memberLicensePlace" size="30" style="width: 75%" pInputText>
        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="cancel()" label="ยกเลิก" *ngIf="!newMember"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="บันทึก"></button>
    </div>
  </p-footer>
</p-dialog>

<!-- <div class="sticky" style="text-align: center;">
  <h2 class="caption">ค้นหาข้อมูลสมาชิก</h2>
</div>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <input type="text" [(ngModel)]="condition.keyword" pInputText placeholder="รหัสสมาชิก ชื่อ เบอร์โทรศัพท์">
      <button pButton type="button" (click)="searchMember()" label="ค้นหา"></button>
    </div>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12">
    <p-table [columns]="cols" [value]="members" selectionMode="single" [(selection)]="selectedMember" (onRowSelect)="onRowSelect($event)"
      [paginator]="true" [rows]="15">

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
          <a type="button" pButton icon="fa fa-plus" href="/addmember" label="Add"></a>
        </div>
      </ng-template>
    </p-table>
  </div>
</div> -->


<!-- <app-alert-exp-date [display]="display"></app-alert-exp-date> -->