<app-navbar>
</app-navbar>

<div class="sticky" style="text-align: center;">
  <h2 class="caption">ข้อมูลสมาชิก</h2>
</div>

<div class="ui-g">
  <div class="ui-g-12">
    <p-table #tableMember [columns]="cols" [value]="members" selectionMode="single" [(selection)]="selectedMember" (onRowSelect)="onRowSelect($event)"
      [paginator]="true" [rows]="5">
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          <a pButton icon="fa fa-plus" iconPos="left" label="เพิ่มสมาชิก" href="/addmember" style="float:left"></a>
          <div class="form-group pull-right">
            <label >ค้นหาสมาชิก</label>
            <input type="text" pInputText size="50" placeholder="รหัสสมาชิค ชื่อ เบอร์โทรศัพท์" (input)="tableMember.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<app-alert-exp-date [display]="display"></app-alert-exp-date>