<!-- <body style="font-family:th sarabunPSK;color:#2F4F4F;font-size: 24px"> -->
<app-navbar></app-navbar>
<!-- <div class="container"> -->
<form [formGroup]="searchRiceForm">
  <div align="center">
    <div class="ui-g">
      <div class="ui-g-12" style="font-size:32px;text-align: center;">สายพันธุ์ข้าว</div>
      <div class="ui-g-12">
        <!-- <app-rice-list></app-rice-list> -->
        <!-- <p-toolbar>
        <div class="ui-toolbar-group-left">
          <button pButton type="button" label="New" href="addrice" icon="pi pi-plus"></button>
        </div>
        <div class="ui-toolbar-group-right">
          <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Keyword">
            <button pButton type="button" icon="fa fa-search"></button>
          </div>
        </div>
      </p-toolbar> -->
        <p-table #dt [value]="riceVarieties" [paginator]="true" [rows]="10">
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <input type="text" formControlName="keyword" pInputText placeholder="รหัส, ชื่อสายพันธุ์">
              <button pButton type="button" icon="fa fa-search" (click)="search()"></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="text-align: center;" width="5%">ลำดับ</th>
              <th style="text-align: center;" width="20%">รหัส</th>
              <th style="text-align: center;">ชื่อสายพันธุ์</th>
              <th style="text-align: center;" width="20%">ราคา</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
              <td class="text-right">{{i+1}}</td>
              <td class="text-center">{{item.rice_var_id}}</td>
              <td class="text-left">{{item.rice_var_name}}</td>
              <td class="text-right">{{item.price | thaiBathCurrencyPipe}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="4">
                ไม่พบข้อมูล
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</form>
<!-- </div> -->
<!-- </body> -->