<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ManageStock</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>


<body style="font-family:th sarabunPSK;color:#2F4F4F;font-size: 24px">

    <app-navbar></app-navbar>
    <form [formGroup]="myForm" novalidate>
        <div class="sticky">


            <div class="ui-g">
                <div class="ui-g-12" style="font-size:32px;text-align: center;">เพิ่มสินค้า</div>
            </div>

            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-1" style="text-align: left;">
                    <label for="float-input">เลขล็อต</label>
                </div>
                <div class="ui-g-2">
                    <input id="float-input" type="text" size="30" style="width: 150px" pInputText>
                </div>
                <div class="ui-g-1" style="text-align: right;">
                    <label for="float-input"></label>
                </div>
                <div class="ui-g-2"></div>
                <div class="ui-g-3"></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-1" style="text-align: left;">
                    <label for="float-input">พันธุ์ข้าว</label>
                </div>
                <div class="ui-g-1">
                    <input id="float-input" type="text" size="30" style="width: 150px" pInputText disabled>
                </div>
                <div class="ui-g-2" style="text-align: right;">
                    <label for="float-input">จำนวนกระสอบ</label>
                </div>
                <div class="ui-g-2">
                    <p-spinner size="15" [min]="0" [max]="100"></p-spinner>
                </div>
                <div class="ui-g-3"></div>
            </div>

            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-2" style="text-align: right;">
                    <label for="float-input">วันที่ผลิต</label>
                </div>
                <div class="ui-g-2" style="text-align: left;">
                    <p-calendar [showIcon]="true"></p-calendar>
                </div>
                <div class="ui-g-5"></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-2" style="text-align: right;">
                    <label for="float-input">วันที่หมดอายุ</label>
                </div>
                <div class="ui-g-2" style="text-align: left;">
                    <p-calendar [showIcon]="true">
                    </p-calendar>
                </div>
                <div class="ui-g-5"></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-2" style="text-align: right;">
                    <label for="float-input">วันที่หมดอายุ</label>
                </div>
                <div class="ui-g-2" style="text-align: left;">
                    {{myForm.value | json}}
                    <my-date-picker name="mydate" [options]="myDatePickerOptions" formControlName="myDate"></my-date-picker>
                    <p-calendar [locale]="es" dateFormat="dd/mm/yy" [showIcon]="true" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true"
                        yearRange="2000:2030"></p-calendar>
                </div>
                <div class="ui-g-5"></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12" style="text-align: center;">
                    <button pButton type="button" label="บันทึก" style="width:200px;" class="ui-button-raised ui-button-success"></button>&nbsp;
                    <button pButton type="button" label="ยกเลิก" style="width:200px;" class="ui-button-danger"></button>
                </div>
            </div>
        </div>


        <div class="footer" style="color: black">
            <table>
                <tr>

                </tr>
            </table>
        </div>
    </form>
</body>

</html>