<app-navbar [authenFlag]="authenFlag"> </app-navbar>
<form [formGroup]="productForm">
  <div class="ui-g">
    <div class="ui-g-offset-2 ui-g-8">
      <div class="ui-g">
        <div class="ui-g-12">
          <p-fieldset legend="ค้นหา">
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label for="float-input">เลขล็อต</label> <br />
                <input id="float-input" type="text" formControlName="lotId" size="30" style="width: 50%" pInputText />
              </div>
              <div class="ui-g-4">
                <label for="float-input">ชื่อสินค้า / พันธุ์ข้าว</label> <br />
                <input id="float-input" type="text" formControlName="productName" size="30" style="width: 100%"
                  pInputText />
              </div>
              <div class="ui-g-4">
                <label for="float-input">ชื่อผู้ขาย</label> <br />
                <input id="float-input" type="text" formControlName="memberName" size="30" style="width: 100%"
                  pInputText />
              </div>
              <!-- <div class="ui-g-4">
                <label for="float-input">พันธุ์ข้าว</label> <br />
                <input id="float-input" type="text" formControlName="riceVarieties" size="30" style="width: 100%"
                  pInputText />
              </div> -->
              <!--<div class="ui-g-4">
                <label for="float-input">วันที่ผลิต</label> <br />
                <p-calendar formControlName="mfdDate" [inputStyle]="{'width': '100%'}" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
              </div>
              <div class="ui-g-4">
                <label for="float-input">วันที่หมดอายุ</label> <br />
                <p-calendar formControlName="expDate" [inputStyle]="{'width': '100%'}" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
              </div>-->
            </div>
            <div class="ui-g-12" style="text-align: center;">
              <button pButton type="button" icon="fa fa-search" label="ค้นหา" (click)="search()"></button> &nbsp;
              <button pButton type="button" icon="fa fa-close" label="ยกเลิก" (click)="productForm.reset(); clear();"></button>
            </div>
          </p-fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="products" selectionMode="single" [(selection)]="selectedProduct" (onRowSelect)="onRowSelect($event)"
        [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
          <div class="ui-g">
            <div class="ui-g-4" style="text-align: left">
              <!-- <button pButton type="button" icon="fa fa-plus" (click)="showDialogToAdd()"></button> -->
            </div>
            <div class="ui-g-4" style="text-align: center">
              <div class="page-caption">ตารางข้อมูลสินค้า</div>
            </div>
            <div class="ui-g-4" style="text-align: right">
              &nbsp;
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center;" width="5%">ลำดับ</th>
            <th [ngStyle]="{ 'text-align': 'center', 'width': '15%' }">เลขล็อต</th>
            <th [ngStyle]="{ 'text-align': 'center', 'width': '25%' }">ชื่อสินค้า / พันธุ์ข้าว</th>
            <!-- <th [ngStyle]="{ 'text-align': 'center', 'width': '25%' }">ชื่อ-นามสกุลผู้ขาย</th>
            <th [ngStyle]="{ 'text-align': 'center', 'width': '20%' }">เบอร์โทร</th>
            <th [ngStyle]="{ 'text-align': 'center', 'width': '20%' }">วันที่ซื้อสินค้า</th> -->
            <th [ngStyle]="{ 'text-align': 'center', 'width': '10%' }">ราคา</th>
            <th [ngStyle]="{ 'text-align': 'center', 'width': '10%' }">จำนวนคงเหลือในคลัง</th>
            <th style="text-align: center;" width="5%">ลบ</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
          <tr [pSelectableRow]="item">
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center">{{item.lot_id}}</td>
            <td class="text-center">{{item.rice_var_name}}</td>
            <!-- <td>{{item.member_fname}} {{item.member_lname}}</td>
            <td>{{item.telephone}}</td>
            <td [ngStyle]="{ 'text-align': 'center' }">{{item.DATE | displayDateThaiFormatDDMMYYYY}}</td> -->
            <td [ngStyle]="{ 'text-align': 'center' }">{{item.price | thaiBathCurrencyPipe}}</td>
            <td [ngStyle]="{ 'text-align': 'center' }">{{item.product_quantity | commaNoDecimalPipe}}</td>
            <td class="text-center">
              <button pButton type="button" class="ui-button-danger" icon="fa fa-minus" (click)="delete(item)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="6">ไม่พบข้อมูล</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</form>

<p-dialog header="{{newProduct ? 'เพิ่ม' : 'แก้ไข'}}ข้อมูลสินค้า" [(visible)]="displayDialog" [responsive]="true"
  showEffect="fade" [modal]="true" [width]="1000" [style]="{'position':'absolute'}">
  <div class="ui-g ui-fluid" *ngIf="product">
    <form [formGroup]="saveProductForm">
      <div class="ui-g">

        <div class="ui-g-12">
          <div class="ui-g-2">
            <label for="float-input">เลขล็อต</label><br />
            {{saveProductForm.get('lotId').value}}
          </div>
          <div class="ui-g-4">
            <label for="float-input">ชื่อผู้ขาย</label><br />
            {{saveProductForm.get('member').value}}
          </div>
          <div class="ui-g-3">
            <label for="float-input">พันธุ์ข้าว</label><br />
            <input id="float-input" type="text" formControlName="riceVarieties" size="30" style="width: 100%"
              pInputText disabled>
          </div>
          <div class="ui-g-3">
            <label for="float-input">จำนวนกระสอบ(ชุด)<font style="color: red; font-weight: bold;">*</font></label><br />
            <p-spinner size="15" formControlName="productQuantity" [min]="0" [max]="10000"></p-spinner>
          </div>
        </div>

        <!-- <div class="ui-g-12">
          <div class="ui-g-8">
            <label for="float-input">พันธุ์ข้าว</label><br />
            <input id="float-input" type="text" formControlName="riceVarieties" size="30" style="width: 100%"
              pInputText disabled>
          </div>
          <div class="ui-g-4">
            <label for="float-input">จำนวนกระสอบ(ชุด)<font style="color: red; font-weight: bold;">*</font></label><br />
            <p-spinner size="15" formControlName="productQuantity" [min]="0" [max]="100"></p-spinner>
          </div>
        </div> -->

        <div class="ui-g-12">
          <div class="ui-g-6">
            <label for="float-input">วันที่ผลิต<font style="color: red; font-weight: bold;">*</font></label><br />
            <p-calendar formControlName="mfdDate" dateFormat="dd/mm/yy" [showIcon]="true" (onSelect)="selectMfdDate()"
              [disabled]="disableMfdDate"></p-calendar>
          </div>
          <div class="ui-g-6">
            <label for="float-input">วันที่หมดอายุ<font style="color: red; font-weight: bold;">*</font></label><br />
            <p-calendar formControlName="expDate" dateFormat="dd/mm/yy" [showIcon]="true" [disabled]="disableExpDate">
            </p-calendar>
          </div>
        </div>

        <hr />

        <div class="ui-g-12">
          <p-table [value]="customers" selectionMode="single" [(selection)]="selectedCustomer" (onRowSelect)="onRowSelectCustomer($event)"
            [paginator]="true" [rows]="3">
            <ng-template pTemplate="caption">
              <div class="ui-g">
                <div class="ui-g-4" style="text-align: left">
                  <!-- <button pButton type="button" icon="fa fa-plus" (click)="showDialogToAdd()"></button> -->
                </div>
                <div class="ui-g-4" style="text-align: center">
                  <div class="page-caption">รายชื่อผู้ที่ซื้อ</div>
                </div>
                <div class="ui-g-4" style="text-align: right">
                  &nbsp;
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="text-align: center;" width="5%">ลำดับ</th>
                <th [ngStyle]="{ 'text-align': 'center', 'width': '25%' }">ชื่อ - นามสกุล</th>
                <th [ngStyle]="{ 'text-align': 'center', 'width': '15%' }">วันที่ซื้อ</th>
                <th [ngStyle]="{ 'text-align': 'center', 'width': '10%' }">จำนวนที่ซื้อ</th>
                <!-- <th style="text-align: center;" width="5%">ลบ</th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
              <tr [pSelectableRow]="item">
                <td class="text-right">{{ i + 1 }}</td>
                <!-- <td class="text-left">{{item.member_fname}} {{item.member_lname}}</td> -->
                <td class="text-left">{{item.customer_name}}</td>
                <td class="text-center">{{item.issuedate | displayDateThaiFormatDDMMYYYY}}</td>
                <td [ngStyle]="{ 'text-align': 'right' }">{{item.quantity}}</td>
                <!-- <td class="text-center">
                  <button pButton type="button" class="ui-button-danger" icon="fa fa-minus" (click)="delete(item)"></button>
                </td> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="4">ไม่พบข้อมูล</td>
              </tr>
            </ng-template>
          </p-table>
        </div>

      </div>
    </form>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="cancel()" label="ยกเลิก" *ngIf="!newProduct"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="บันทึก"></button>
    </div>
  </p-footer>
</p-dialog>
