<app-navbar></app-navbar>
<div class="container">
    <p-panel>
        <p-header>
            <h2>ขายสินค้า</h2>
        </p-header>
        <div class="panel-header">
            <div class="form ">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group ui-fluid">
                            <label>ชื่อลูกค้า</label><span class="text-danger">*</span><br />
                            
                            <input pInputText type="text" class="form-control" [(ngModel)]="order.customer.customer_name"
                                [typeahead]="searchCustomer()"
                                typeaheadOptionField="customer_name"
                                typeaheadMinLength="1"
                                typeaheadWaitMs="500"
                                typeaheadLoading="searchCustomer($event)"
                                (typeaheadOnSelect)="selectCustomer($event)"
                                class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ui-fluid">
                            <label>โทรศัพท์</label><span class="text-danger">*</span>
                            <input pInputText type="text" [(ngModel)]="order.customer.customer_phone" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3 pull-right">
                        <div class="form-group ui-fluid">
                            <label>วันที่</label><br/><span class="text-danger">*</span>
                            <p-calendar [(ngModel)]="order.date"  [showIcon]="true"></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-sm-6">
                        <div class="form-group  ui-fluid">
                            <label >ที่อยู่</label><span class="text-danger">*</span>
                            <textarea class="form-control" pInputTextarea [(ngModel)]="order.customer.customer_address"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-3 pull-right">
                        <div class="form-group  ui-fluid">
                            <label>เลขที่ใบเสร็จ</label>
                            <input pInputText type="text" class="form-control" readonly [ngModel]="order.receiptNo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 15px">ลำดับ</th>
                    <th>รายการ<span class="text-danger">*</span></th>
                    <th style="width: 15%">จำนวน<span class="text-danger">*</span></th>
                    <th style="width: 15%">ราคาต่อหน่วย</th>
                    <th style="width: 15%">จำนวนเงิน</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of order.itemList; let i =index">
                    <td class="text-right">{{i + 1}}</td>
                    <td class="ui-fluid">
                    <!--     <p-autoComplete [(ngModel)]="item.name" [suggestions]="productAutocomplete.results" field="product_name" dataKey="product_id" (completeMethod)="searchProduct($event)" (onSelect)="selectSearchProduct($event,item)"  emptyMessage="ไม่พบสินค้า" styleClass="wid100"></p-autoComplete> -->
                    <ng-template #productItemTemplate let-model="item" let-index="index">
                        <h5>{{model.rice_var_name}}</h5>
                        LOT: {{model.lot_id}}
                      </ng-template>
                    <input pInputText type="text" class="form-control" [(ngModel)]="item.name"
                            [typeahead]="searchProduct(item)"
                            typeaheadOptionField="product_name"
                            typeaheadLoading="searchProduct($event,item)"
                            (typeaheadOnSelect)="selectSearchProduct($event,item)"
                            [typeaheadItemTemplate]="productItemTemplate"
                            class="form-control">
                    </td>
                    <td><input pInputText [(ngModel)]="item.quantity" type="number" min="0" max="{{item.max_quantity}}" class="form-control text-right" style="width:100%" min="1" max="100"></td>
                    <td><input pInputText [(ngModel)]="item.price" type="number" min="0"  class="form-control text-right" style="width:100%" min="1" max="100"></td>
                    <td class="text-right">{{item.price*item.quantity}}</td>
                </tr> 
                <tr>
                    <td class="text-right"></td>
                    <td class="ui-fluid" colspan="4"><p-button type label="เพิ่มรายการ" icon="pi pi-plus" (onClick)="addNewRow()"></p-button></td>
                    
                    
                </tr> 
            </tbody>
            <tfoot>
                <tr>
                    <th class="text-center" colspan="4">ส่วนลด</th>
                    <th class=""><input type="number" pInputText [(ngModel)]="order.discount" class="form-control text-right"></th>
                </tr>
                <tr>
                    <th class="text-center" colspan="4">รวม</th>
                    <th class="text-right">{{0+order.totalPrice-order.discount}}</th>
                </tr>
            </tfoot>
        </table>
        <p-footer>
            <button pButton type="button" (click)="ngOnInit()" icon="pi pi-times" label="ยกเลิก" class="ui-button-danger" style="margin-right: .25em"></button>
            <button pButton type="submit" (click)="paymentProcess()" icon="pi pi-check" label="ดำเนินการ" class="ui-button-success pull-right"></button>
            <button pButton type="button" (click)="exportReceipt()"icon="pi pi-print" label="ออกใบเสร็จ" class="ui-button-primary pull-right"style="margin-right: .25em"></button>
        </p-footer>
    </p-panel>
</div>