<app-navbar></app-navbar>
<div class="container">
    <p-panel>
        <p-header>
            <h3>ขายสินค้า</h3>
        </p-header>
        <div class="panel-header">
            <div class="form ">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>ชื่อลูกค้า</label>
                            <p-autoComplete [(ngModel)]="customer" [suggestions]="custResults" (completeMethod)="searchCustomer($event)"></p-autoComplete>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <label>วันที่</label>
                            <p-calendar [(ngModel)]="saleDate"  [showIcon]="true"></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>โทรศัพท์</label>
                            <input pInputText type="tel" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <label>เลขที่ใบเสร็จ</label>
                            <input pInputText type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label >ที่อยู่</label>
                            <textarea class="form-control" pInputTextarea [(ngModel)]="customerAddress"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 15px">ลำดับ</th>
                    <th>รายการ</th>
                    <th style="width: 15%">จำนวน</th>
                    <th style="width: 15%">ราคาต่อหน่วย</th>
                    <th style="width: 15%">จำนวนเงิน</th>
                    <th style="width: 15px"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productList; let i =index">
                    <td class="text-right">{{i + 1}}</td>
                    <td><p-autoComplete [(ngModel)]="item.name" [suggestions]="riceResults" (completeMethod)="searchRice($event)"></p-autoComplete></td>
                    <td><input [(ngModel)]="item.amoung" type="number" class="form-control text-right" style="width:100%" min="1" max="100"></td>
                    <td class="text-right"><input [(ngModel)]="item.price" type="number" class="form-control text-right" style="width:100%" min="1" max="100"></td>
                    <td class="text-right">{{item.price*item.amoung}}</td>
                    <td><button class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span></button></td>
                </tr> 
            </tbody>
            <tfoot>
                <tr>
                    <th class="text-center" colspan="4">ส่วนลด</th>
                    <th class="text-right"><input type="number" class="form-control"></th>
                    <th></th>
                </tr>
                <tr>
                    <th class="text-center" colspan="4">รวม</th>
                    <th class="text-right">10000</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        <p-footer>
            <button pButton type="button" icon="pi pi-times" label="ยกเลิก" class="ui-button-danger" style="margin-right: .25em"></button>
            <button pButton type="button" icon="pi pi-check" label="ดำเนินการ" class="ui-button-success pull-right"></button>
            <button pButton type="button" icon="pi pi-print" label="ออกใบเสร็จ" class="ui-button-primary pull-right"style="margin-right: .25em"></button>
        </p-footer>
    </p-panel>
</div>