<app-navbar></app-navbar>
<form [formGroup]="addForm">
  <div class="sticky">
    <div class="ui-g">
      <div class="ui-g-12 page-caption" style="text-align: center;">เพิ่มข้อมูลเข้าระบบ</div>
    </div>
    <div class="ui-g">
      <div class="ui-g-3" style="text-align: right;">
        <label for="float-input">เลขล็อต</label>
      </div>
      <div class="ui-g-2">
        {{addForm.get('lotId').value}}
        <!-- <input id="float-input" type="text" formControlName="lotId" size="20" style="width: 150px" pInputText readonly> -->
      </div>
      <div class="ui-g-2" style="text-align: right;">
        <label for="float-input">วันที่<font style="color: red; font-weight: bold;">*</font></label>
      </div>
      <div class="ui-g-2">
        <p-calendar formControlName="date" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-3"></div>
      <div class="ui-g-1" style="text-align: left;">
        <label for="float-input">คนขาย<font style="color: red; font-weight: bold;">*</font></label>
      </div>
      <div class="ui-g-5">
        <!-- <input id="float-input" type="text" formControlName="member" size="30" style="width: 520px" pInputText> -->
        <p-autoComplete formControlName="member" (onSelect)="onLovSelect($event)" (onClear)="onLovClear($event)"
          [suggestions]="results" field="member_name" (completeMethod)="search($event)" [style]="{'width': '100%'}"
          [forceSelection]="true">
          <!-- <ng-template let-brand pTemplate="item">
            <div>
              <div>{{display}} </div>
            </div>
          </ng-template> -->
        </p-autoComplete>
      </div>
      <div class="ui-g-3"></div>
    </div>


    <div class="ui-g">
      <div class="ui-g-3"></div>
      <div class="ui-g-1" style="text-align: left;">

        <label for="float-input">ทะเบียนรถ<font style="color: red; font-weight: bold;">*</font></label>
      </div>
      <div class="ui-g-1">
        <input id="float-input" type="text" formControlName="licensePlace" size="30" style="width: 180px" pInputText>
      </div>
      <div class="ui-g-2" style="text-align: right;">
        <label for="float-input">พันธุ์ข้าว<font style="color: red; font-weight: bold;">*</font></label>
      </div>
      <div class="ui-g-2">
        <p-autoComplete formControlName="riceVarieties" [suggestions]="riceVarieties" (completeMethod)="searchRiceVarieties($event)"
          field="rice_var_name" [forceSelection]="true" (onClear)="clearLov(['riceVarieties'])"></p-autoComplete>
      </div>
      <div class="ui-g-3"></div>
    </div>
    <div class="ui-g">
      <div class="ui-g-3"></div>
      <div class="ui-g-1" style="text-align: left;">

        <label for="float-input">เวลาเข้า<font style="color: red; font-weight: bold;">*</font></label>
      </div>
      <div class="ui-g-1">
        <p-calendar formControlName="timeIn" [timeOnly]="true"></p-calendar>
      </div>
      <div class="ui-g-2" style="text-align: right;">
        <label for="float-input">เวลาออก<font style="color: red; font-weight: bold;">*</font></label>
      </div>
      <div class="ui-g-2">
        <p-calendar formControlName="timeOut" [timeOnly]="true"></p-calendar>
      </div>
      <div class="ui-g-3"></div>
    </div>
    <div class="ui-g">
      <div class="ui-g-3"></div>
      <div class="ui-g-1" style="text-align: left;">
        <label for="float-input">หมายเหตุ</label>
      </div>
      <div class="ui-g-2">
        <textarea formControlName="remark" rows="2" cols="63" pInputTextarea></textarea>
      </div>
      <div class="ui-g-1"></div>
      <div class="ui-g-2"></div>
      <div class="ui-g-3"></div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12" style="text-align: center;">
        <!-- <button pButton type="button" (click)="save()" label="บันทึก" style="width:200px;" class="ui-button-raised ui-button-success"></button>&nbsp;
        <button pButton type="button" (click)="cancle()" label="ยกเลิก" style="width:200px;" class="ui-button-danger"></button> -->

        <button type="button" pButton icon="fa fa-check" (click)="save()" label="บันทึก"></button>&nbsp;
        <button type="button" pButton icon="fa fa-close" (click)="cancel()" label="ยกเลิก"></button>

      </div>
    </div>
  </div>
</form>
