<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ManageStock</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>


<body style="font-family:th sarabunPSK;color:#2F4F4F;font-size: 24px">
  <app-navbar></app-navbar>
  <div class="sticky">
    <div class="ui-g">
      <div class="ui-g-12" style="font-size:32px;text-align: center;">เพิ่มสมาชิก</div>
    </div>
    <div class="ui-g" >
        <div class="ui-g-2"></div>
        <div class="ui-g-2" style="text-align: right;">
            <label for="float-input">ชื่อ</label>
        </div>
        <div class="ui-g-2" >
            <input id="float-input" type="text" [(ngModel)]="formData.member_fname"  size="30" style="width: 180px"  pInputText >
        </div>
        <div class="ui-g-1" style="text-align: left;">
            <label for="float-input" >นามสกุล</label>
        </div>
        <div class="ui-g-2">
            <input id="float-input" type="text"  [(ngModel)]="formData.member_lname" size="30" style="width: 210px" pInputText >
        </div>
        <div class="ui-g-3"></div>
    </div>
    <div class="ui-g">
      <div class="ui-g-2"></div>
      <div class="ui-g-2" style="text-align: right;">
          <label for="float-input">ที่อยู่</label>
      </div>
      <div class="ui-g-2" style="text-align: left;">
          <textarea [(ngModel)]="formData.address" rows="2" cols="63" pInputTextarea></textarea>  
      </div>
      <div class="ui-g-5"></div>
    </div>

    <div class="ui-g" >
        <div class="ui-g-2"></div>
        <div class="ui-g-2" style="text-align: right;">
            <label for="float-input">เบอร์โทรศัพท์</label>
        </div>
        <div class="ui-g-2" >
            <input id="float-input" type="text" [(ngModel)]="formData.telephone"  size="30" style="width: 180px"  pInputText >
        </div>
        <div class="ui-g-1" style="text-align: left;">
            <label for="float-input" >ทะเบียนรถ</label>
        </div>
        <div class="ui-g-2">
            <input id="float-input" type="text" [(ngModel)]="formData.member_license_place" size="30" style="width: 210px" pInputText >
        </div>
        <div class="ui-g-3"></div>
    </div>
    
    <div class="ui-g">
      <div class="ui-g-12" style="text-align: center;">
        <button pButton type="button" label="บันทึก" (click) = "onSubmitAddMember()" style="width:200px;" class="ui-button-raised ui-button-success"></button>&nbsp;
        <button pButton type="button" label="ยกเลิก" (click) = "onResetAddMember()" style="width:200px;" class="ui-button-danger"></button>
      </div>
      
    </div>
  </div>


  <div class="footer" style="color: black">
    <table>
      <tr>

      </tr>
    </table>
  </div>
</body>

</html>