/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

* {
  font-family: 'th sarabunPSK';
  font-size: 20px;
}

.ui-card {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.caption {
  font-weight: bold;
}

.ui-table .ui-table-thead>tr>th {
  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333333;
  background-color: #f4f4f4;
  text-align: center;
}

.ui-table .ui-table-tbody>tr>td {
  background: inherit;
  border: 1px solid #c8c8c8;
  font-size: 24px;
}

.ui-autocomplete-input {
  width: 100%;
}

body .ui-button.ui-button-icon-only .ui-button-text {
  padding: 5px !important;
}

legend {
  width: unset;
}

.ui-calendar {
  /* display: block;
  width: 90%; */
}

.page-caption {
  font-weight: bold;
  font-size: 24px;
}

.ui-table-caption {
  font-weight: bold;
  font-size: 24px;
  padding: 0.25em 0.25em !important;
}
